In [1]:
# Write a program using for loop to print from 34 to 45 (45 included)

# your Answer

for i in range(34,46,1):
    print(i)

34
35
36
37
38
39
40
41
42
43
44
45

In [5]:
# Write a program using for loop to print "machinelearning" 50 times 

# your Answer

for i in range(0,50,1):
    print(i+1,".machine learning")

1 .machine learning
2 .machine learning
3 .machine learning
4 .machine learning
5 .machine learning
6 .machine learning
7 .machine learning
8 .machine learning
9 .machine learning
10 .machine learning
11 .machine learning
12 .machine learning
13 .machine learning
14 .machine learning
15 .machine learning
16 .machine learning
17 .machine learning
18 .machine learning
19 .machine learning
20 .machine learning
21 .machine learning
22 .machine learning
23 .machine learning
24 .machine learning
25 .machine learning
26 .machine learning
27 .machine learning
28 .machine learning
29 .machine learning
30 .machine learning
31 .machine learning
32 .machine learning
33 .machine learning
34 .machine learning
35 .machine learning
36 .machine learning
37 .machine learning
38 .machine learning
39 .machine learning
40 .machine learning
41 .machine learning
42 .machine learning
43 .machine learning
44 .machine learning
45 .machine learning
46 .machine learning
47 .machine learning
48 .machine learning
49 .machine learning
50 .machine learning

In [7]:
# Write a program using for loop to print 21 ,23,25,27

# your Answer

for i in range (21,28,2):
    print(i)

21
23
25
27

In [8]:
#Write a Python program that prints all the numbers from 14 to 37(37 inclusive) except 17 .
#Note : Use 'continue' statement.
#Expected Output : 14 15 16 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

# your Answer

for i in range (14,38,1):
    if i==17:
        continue
    else:
        print(i)

14
15
16
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37

In [9]:
# Write a program to print only even numbers from 85 to 100 using for loop

# your Answer

for i in range(85,100,1):
    if i%2==0:
        print(i)

86
88
90
92
94
96
98

In [10]:
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 14 and 37

# your Answer
for i in range(14,37,1):
    if i%7==0 and i%5==0:
        print(i)

35

In [25]:
#Write a Python program which iterates the integers from 14 to 37. 
#For multiples of three print "hello" instead of the number and for the multiples of five print "hi". 
#For numbers which are multiples of both three and five print "goodmorning"

# your Answer
for i in range(14,37):
    if i%3==0:
        print('hello',i)
    if i%5==0 and i%3==0:
        print('good morning',i)
    if i%5==0:
        print('hi',i)

hello 15
good morning 15
hi 15
hello 18
hi 20
hello 21
hello 24
hi 25
hello 27
hello 30
good morning 30
hi 30
hello 33
hi 35
hello 36

In [17]:

"""
2*1 = 2
2*2 = 4
.
.
.
2*10 = 20
"""
#Write program to print 2 table like above 

# your Answer

for i in range(1,11):
    print("2 *",i,"=",2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20